extends ../shared/templates/template1/index.pug

block nav
  include ../shared/partials/header/nav.pug

block content
  div(class="container ul-unstyle li-menu")
    header(class="jumbotron my-4")
      h1(class="display-3")=user.username
      p(class="lead") Lập Trình viên 5 năm kinh nghiệm
    ul()
      li() 
        a(href="latest") Bài mới nhất
      each c in categories
        li()
          a(href=`${c.name}`)=c.name
  div(class="container ul-unstyle li-menu")
    span(class="space-10")
    h1(class="post-title") Bài Viết
    div(class="row")
      each val in data
        div(class="col-4 portfolio-item")
          div(class="card h-100")
            a(class="a-unstyle" href=`/post/detail/${val.id}`)
              div(class="thumnail-container col-12")
                img(class="card-img-top" src=`${val.thumbnail}` alt="")
              div(class="card-body")
                h5(class="card-title")
                  h3(class="post-title")=val.title
                  p(class="card-text")=val.description
            span(class="space-10")
            ul(class="text-right")
              li
                a(href=`/post/update/${val.id}` class="a-unstyle")
                  i(class="fa fa-pencil")
              li(class="deletePost can-click" postId=`${val.id}`)
                i(class="fa fa-trash" )
    span(class="space-10")

block append scripts
  script.
    $(document).ready(function() {
      $('.deletePost').click(function(event) {
        $.confirm({
            title: 'Xóa Bài',
            content: 'Bạn muốn xóa bài?',
            buttons: {
                xóa: function () {
                    console.log('Confirmed!', event.currentTarget.attributes.postId.value);
                },
                hủy: function () {
                  
                }
            }
        });
      })
    });
  
