extends ../shared/templates/template1/index.pug

block nav
  include ../shared/partials/header/nav.pug

block content
  div(class="container")
    header(class="jumbotron my-4")
      h1(class="display-3")=user.username
      p(class="lead") Lập Trình viên 5 năm kinh nghiệm
  
  div(class="container")
    span(class="space-10")
    h1(class="post-title") Bài Viết
    div(class="row")
      each val in data
        div(class="col-4 portfolio-item")
          div(class="card h-100")
            a(class="a-unstyle" href=`/post/detail/${val.id}`)
              img(class="card-img-top" src="http://placehold.it/700x400" alt="")
              div(class="card-body")
                h5(class="card-title")
                  h3(class="post-title")=val.title
                  p(class="card-text")=val.description
            a(href=`/post/update/${val.id}` class="a-unstyle")
              i(class="fa fa-pencil float-right") 
    span(class="space-10")

  
